{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
{% endblock %}

{% block body %}

	<div class="container-fluid px-4 mt-4">
		<table id="datatablesSimple">
			<thead>
				<tr>
					<th>Event</th>
					<th>Date</th>
					<th>End of register</th>
					<th>Participant/number of place</th>
					<th>State</th>
					<th>Register</th>
					<th>Organizer</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{%for event of events %}
					<tr>
						<td>event.name</td>
						<td>event.startDateTime</td>
						<td>Edinburgh</td>
						<td>61</td>
						<td>2011/04/25</td>
						<td>$320,800</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>

{% endblock %}
